[submodule "images/secrets-store-csi-driver/secrets-store-csi-driver"]
	path = images/secrets-store-csi-driver/secrets-store-csi-driver
	url = ../../kubernetes-sigs/secrets-store-csi-driver.git
[submodule "images/vault-csi-provider/vault-csi-provider"]
	path = images/vault-csi-provider/vault-csi-provider
	url = ../../hashicorp/vault-csi-provider.git
