[submodule "images/csi-secrets-store-driver/secrets-store-csi-driver"]
	path = images/csi-secrets-store-driver/secrets-store-csi-driver
	url = https://github.com/kubernetes-sigs/secrets-store-csi-driver.git
[submodule "images/vault-csi-provider/vault-csi-provider"]
	path = images/vault-csi-provider/vault-csi-provider
	url = https://github.com/hashicorp/vault-csi-provider.git
