.*
CHANGELOG
changelog.yaml
core
crds
docs
hooks
images
known_vulnerabilities.vex
Makefile
module.yaml
openapi
oss.yaml
README.md
requirements.lock
scripts
tools
werf_cleanup.yaml
werf-giterminism.yaml
werf.yaml
