type: object
required: ["connectionConfiguration"]
oneOf:
- properties:
    connectionConfiguration:
      type: string
      enum: ["DiscoverLocalStronghold"]
    connection:
      not:
        required:
          - url
- properties:
    connectionConfiguration:
      type: string
      enum: ["Manual"]
    connection:
      required:
        - url
  required:
  - connection
properties:
  connectionConfiguration:
    type: string
    description: |
      Secret store connection mode:

      - `DiscoverLocalStronghold`: For automatic connection to the internal Stronghold service in the cluster.
      - `Manual`: For using an external Stronghold or Vault.
    enum: ["Manual", "DiscoverLocalStronghold"]
    default: "DiscoverLocalStronghold"
  connection:
    type: object
    properties:
      url:
        type: string
        pattern: ^https://[\.:0-9a-zA-Z-]+$
        description: |
          Stronghold or Vault address used for connecting integrations and retrieving secrets.
        x-examples: [ "https://vault.mycompany.com:8200" ]
      caCert:
        type: string
        pattern: "^-----BEGIN CERTIFICATE-----\n(.+\n){5}"
        description: |
          CA certificate in PEM format for connecting to Stronghold or Vault.

          If this parameter is not specified, the system ca-certificates are used.
      authPath:
        type: string
        pattern: ^[A-Za-z0-9-_]+$
        default: kubernetes
        description: |
          Path in Stronghold or Vault that is used to authenticate a Kubernetes cluster.
        x-examples: [ "kubernetes", "kube-dev" ]
      namespace:
        type: string
        pattern: ^[A-Za-z0-9-_\/]+$
        description: |
          Namespace in a Vault-compatible store.
        x-examples: [ "ns1", "ns1/sub-ns2" ]
